html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #f5f5f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav {
    position: fixed;
    top: 2rem;
    left: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
    transition: background-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
}

.nav.open {
    background-color: #ecece9;
    border-radius: 10rem;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.075);
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #313636;
    cursor: pointer;
    padding: 0.5rem;
    transition: color 0.15s ease;
}

.hamburger:hover {
    transform: scale(1.02);
    color: #ccccc6;
}

ul.nav-list {
    margin: 0;
    padding-left: 0.1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 10;
}

ul.nav-list a {
    margin-bottom: 2rem;
    padding: 0.5rem;
}

ul.nav-list li:nth-child(1) a {
    margin-top: 1rem;
}

ul.nav-list li:nth-child(5) a {
    margin-bottom: 1rem;
}

ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;
}

a {
    color: #313636;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: color 0.15s ease;
}

a:hover {
    color: #ccccc6;
}

a i {
    font-size: 1.5rem;
}

a span {
    display: none;
}

.section {
    margin-bottom: 20rem;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    color: #313636;
}

.subtitle {
    font-size: 3rem;
    font-weight: bold;
    color: #cacfcf;
}